<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeHelp Week4</title>
    <link href="{{ url_for('static', path='styles.css')}}" rel="stylesheet">
     <!-- <link href="../static/styles.css" rel="stylesheet"> -->
</head>
<body>
    <div class="banner">
        <div id="bannertext">{{ page_title }}</div>
    </div>
    <div class="message">
        <div id="message_text">{{ message }}</div>
    </div>
</body>
</html>